.messages-list {
  margin: 2em 0;
  overflow-x: hidden;
}


.messages-list ul {
  list-style: none;
}

.messages {
  min-width: 15em;
  max-width: 35em;
  width: 100%;
  padding: 0 2em;
  overflow-x: hidden;
}
