.chat {
  min-height: 50vh;
  min-width: 10em;
  /* minus nav bar height */
  /* height: calc(100vh - 22vh); */
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background {
  position: absolute !important;
  z-index: -1;
  inset: 0;
  background-color: #c8c8f0;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23b4b4dc' fill-opacity='0.74'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.header {
  padding: 5px 0;
  background-color: white;
  width: 100%;
}

.chat-name {
  margin: 0.5em;
}

.scroll {
  overflow-y: scroll;
}

.center {
  display: flex;
  justify-content: center;
}

.chat .messages-container {
  margin-top: auto;
  width: 100%;
  height: max-content;
}

.chat .footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
  padding: 0 2em;
}
