PORT=4000
PORTP=4000
JWT_SECRET=my_auth_secret
SESSION_SECRET=my_session_secret
SESSION_MAX_AGE=3600000
ALLOWED_ORIGIN=http://localhost:3000
SOCKET_CLIENT=http://localhost:4001
DB=mongodb://127.0.0.1:27017/test3
DB_SESSION_STORE=mongodb://localhost:27017/connect_session
